* {margin: 0;

font-family: 'Poppins', sans-serif;
}
body
{
    background-color:#FEBB41;
    
}
.main
{
    width: 1511px;
    height: 886px;
    border-radius: 24px;
    background-color: #F4ECE1;
    margin: 0 auto;
    padding-right: 65px;
    padding-left: 87px;
    padding-top: 39px;

}
.navbar{
display: flex;
align-items: center;


}
.text_logo{
    font-weight: 600px;
    font-size: 32px;
    line-height: 44.74px;
    color: black;
    display: inline-block;
    margin-left: 4px;
}

.nav_list{

    margin: 0 auto;
    list-style: none;
    display: inline-block;
    padding: 0px;



}
.nav_list>li{

    display: inline-block;
    margin:0px 28px;


}
.nav_btn{

    border:none;
    background:none;
    padding: 0px;
    font-weight: 400;
    font-size: 22px;
  cursor: pointer;
    
}



.label{

    width: 314px;
    height: 60px;
    top: 39px;
    left: 1132px;
        
}

.logo_img{
display: inline-block;

}

.search_input{

width: 314px;
height: 60px;
border-radius: 30px;
background-color: transparent;
border: none;
box-shadow: 0px 12px 40px -16px rgba(0, 0, 0, 0.1);
padding-left: 72px;
font-size: 22px;
font-weight: 400;
line-height: 20.86px;
color: black;




}
.search_input::placeholder{

    color: black;
}


.main_text{

    color:orange;  
    font-weight: 700;
    font-size: 125px;
    line-height: 94.8%;
    display: inline-block;
    margin: 0;
}


.main_title{

display: inline-block;
font-weight: 700;
font-size: 52px;
line-height: 94.8%;
color:#2F2F2F
}


.discription{

    font-weight: 400;
    font-size: 22px;
    line-height: 138.8%;
    color: #909090;
    display: inline-block;
    margin-top: 24px;
}


.wrapper{

max-width: 568px;
display: inline-block;
margin-top: 152px;

}



.order{
    width: 188px;
    height: 70px;
    background: #2F2F2F;
    box-shadow: 0px 20px 32px -8px rgba(0, 0, 0, 0.2);
    border-radius: 84px;
    color: #F4ECE1;
    border:none;
    font-weight: 600;
    font-size: 20px;
    line-height: 94.8%;
    cursor: pointer;
    

}

.main__logo{

    margin-top: 37px;
}

.btn_watch_video{
width: 57px;
height: 57px;
background-color: white;
border-radius: 100%;
border:none;
display:flex;
justify-content: center;
align-items: center;


}
.btn_watch_video>img{

    margin-left: 3px;
    cursor: pointer;

}

 
.wrapper_order_button{


display:flex;
margin-top: 44px;
gap: 28px;
align-items: center;
cursor: pointer;



}


.text_watch_video{

    font-size: 20px;
    line-height: 19px;
    font-weight: 600;
    color: #2F2F2F;
    cursor: pointer;
    


}

.stars{


margin-top: 80px;

}

.text1{


    font-weight: 600;

    font-size: 18px;
    line-height: 25px;
}


.container{

margin-left: 5px;
margin-top: 11px;
display: flex;
flex-direction: column;
gap: 10px;

}

.search_input_label{

position: relative;

}

.search_input_label::after{
    content: '2';
    position:absolute;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    color: white;
    background-color: red;
    box-shadow:  0px, 2px
    rgba(255, 51, 52, 0.72);
    font-size: 10px;
    font-weight: 400;
    top: 6px;
    right: 18px;
    z-index: 1;
    display:flex;
    justify-content: center;
    align-items: center;



}

.search_input_label::before{

content: '';
height: 45px;
width: 1px;
background-color:grey;
position:absolute;
right: 72px;
top: 50%;
transform: translateY(-50%);

}
.search_input_button{


position:absolute;
left: 41px;
top: 50%;
transform: translateY(-50%);

}

.search_input_bag{


    position:absolute;
    right: 37.5px;
    top: 50%;
    transform: translateY(-50%);

    

}

